<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            rect {
                stroke: blue;
                stroke-width: 5;
                fill-opacity: 0;
                stroke-opacity: 1;
            }
            circle {
                cursor: pointer;
            }
        </style>
    <script src="/static/lib/snap.svg-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/static/scripts/utils.js"></script>
    <script src="/static/scripts/project.js"></script>
    <script src="/static/scripts/box.js"></script>
    <script src="/static/scripts/display.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script>
        var projectName = <%- JSON.stringify(project) %>;
    </script>
</head>
<body>
    <% include navbar %>
    <div class="container-fluid row">
        <div class="col-sm-8">
            <div id="alertArea"></div>
            <nav>
                <ul id="pageSwitcher" class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <svg version="1.1" id="something" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" width="800px" height="800px" viewBox="0 0 3300 4200" enable-background="new 0 0 3300 4200" xml:space="preserve">
            </svg>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success" id="doneButton">Done</button>
            <button class="btn btn-primary" id="compileButton">Compile</button>
            <div class="row" id="toolbar">
                <ul class="nav flex-column nav-pills w-50">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Split Box</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Repeat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Da Capo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add D.S. Al Coda</a>
                    </li>
                </ul>
            </div>
            <div class="row well" id="ProjectFlowDisplay">
            </div>
        </div>
    </div>
    
    
</body>
</html>